@page "/Products"
@using System.Reflection
@using System.Text.Json
@using Core.Services
@using PosPlusClient.Services
@using PosPlusClient.Components.Login
@using PosPlusClient.Helpers
@using Serilog
@inherits AuthorizedComponent
@inject IDialogService DialogService
@inject IServiceManager ServiceManager
@inject IToastService ToastService
@inject AppStateProvider AppState

@if (AuthorizationState == UserAuthorizationState.Authorized)
{
    <h1>
        Administración / Productos
    </h1>
    
    <FluentDataGrid ref="@grid" Items="Products" TGridItem="Product" RowSize="DataGridRowSize.Large">
        <TemplateColumn Title="Avatar" Width="96px" Style="align-content: center">
            <FluentPersona Image="@context.Image"
                           ImageSize="50px"
                           Initials="@context.Name.GetInitials()"
                           Style="background: transparent">
            </FluentPersona>
        </TemplateColumn>
        <PropertyColumn Property="@(p => p.Name)" Sortable="true" Title="Nombre" Align="Align.Center"/>
        <PropertyColumn Property="@(p => p.Description)" Sortable="true" Title="Descripción" Align="Align.Center"/>
        <PropertyColumn Property="@(p => p.IdCategoryNavigation.Name)" Sortable="true" Title="Categoria" Align="Align.Center"/>
        <TemplateColumn Title="Unitario" Sortable="true" Width="128px" Style="text-align: center" Align="Align.Center">
            <FluentCheckbox Value="@context.Unitary" ReadOnly="true"/>
        </TemplateColumn>
        <TemplateColumn Title="Compuesto" Sortable="true" Width="128px" Style="text-align: center" Align="Align.Center">
            <FluentCheckbox Value="@context.Composed" ReadOnly="true"/>
        </TemplateColumn>
        <PropertyColumn Property="@(p => p.Um)" Sortable="true" Title="Unidad Medida" Align="Align.Center"/>
        <TemplateColumn Title="Acciones" Align="Align.Center">
            <FluentButton aria-label="Edit item" IconEnd="@(new Regular.Size24.Edit())"
                          OnClick="@(() => OpenDialogAsync(context, "Editar"))"/>
            <FluentButton aria-label="UserDialog item" IconEnd="@(new Regular.Size24.Delete())"
                          OnClick="() => ShowDeleteConfirmationAsync(context)"/>
        </TemplateColumn>
    </FluentDataGrid>
    
    <FluentButton
        Style="position: fixed; bottom: 65px;right: 25px; border-radius: 50%; width: 56px; height: 56px; box-shadow: #929292 2px 2px 5px"
        Appearance="Appearance.Accent"
        IconEnd="@(new Regular.Size32.Add())"
        Id="floating-plus-btn-product"
        OnClick="@(() => OpenDialogAsync(new Product(), "Crear"))"
    />

    <FluentTooltip Anchor="floating-plus-btn-product" Position="TooltipPosition.Left">
        <strong>Adicionar</strong><br/>Producto
    </FluentTooltip>
}

@if (AuthorizationState == UserAuthorizationState.UnAuthorized)
{
    <AccessDenied/>
}

@code {
    private IQueryable<Product> Products { get; set; }
    private FluentDataGrid<Product>? grid;
    
    
    protected override async Task OnInitializedAsync()
    {
        await LoadData();
        //Hay que especificar el Permiso
        PermissionRequirement = "Productos";
        //Hay que llamar el OnInitialize heredado que verifica el permiso
        await base.OnInitializedAsync();
    }
    
    private async Task LoadData()
    {
        grid?.SetLoadingState(true);
        Products = (await ServiceManager.Product.GetAll()).AsQueryable();
        grid?.SetLoadingState(false);
    }
    
    private async Task ShowDeleteConfirmationAsync(Product product)
    {
        try
        {
            var dialog = await DialogService.ShowConfirmationAsync(
                $"Está seguro de borrar el producto <strong>{product.Name}</strong>? <br/><br/> La operación es Irreversible.",
                "Si, deseo continuar",
                "No", "Eliminar Producto");

            if (!(await dialog.Result).Cancelled)
            {
                var deleted = await ServiceManager.Product.Delete(product);

                if (deleted)
                {
                    await LoadData();
                    ToastService.ShowCommunicationToast(new ToastParameters<CommunicationToastContent>()
                    {
                        Intent = ToastIntent.Success,
                        Title = "Exito",
                        Timeout = 5000,
                        Content = new CommunicationToastContent()
                        {
                            Subtitle = $"El producto: {product.Name}",
                            Details = "Fue eliminado exitosamente.",
                        },
                    });
                }
                else
                {
                    ToastService.ShowCommunicationToast(new ToastParameters<CommunicationToastContent>()
                    {
                        Intent = ToastIntent.Error,
                        Title = "Error",
                        Timeout = 5000,
                        Content = new CommunicationToastContent()
                        {
                            Subtitle = $"El producto: {product.Name}",
                            Details = "No pudo ser eliminado.",
                        },
                    });
                }
            }
        }
        catch (Exception e)
        {
            Log.Error(e, $"Exception >>user: {AppState.UserProfile?.Username} >>data: {JsonSerializer.Serialize(product)}");
            var dialog = await DialogService.ShowErrorAsync("Ha ocurrido un error, contacte soporte técnico.", "Error", "Aceptar");
            await dialog.Result;
        }
    }
    
    private async Task OpenDialogAsync(Product product, string action)
    {
        try
        {
            DialogParameters parameters = new()
            {
                Title = $"{action} Producto",
                PrimaryAction = action,
                SecondaryAction = "Cancelar",
                Width = "500px",
                TrapFocus = true,
                Modal = true,
                PreventScroll = true
            };

            var dialog = await DialogService.ShowDialogAsync<ProductDialog>(product, parameters);
            var result = await dialog.Result;

            if (result is { Cancelled: false, Data: not null })
            {
                var succes = action == "Crear" ? await ServiceManager.Product.Create(product) : await ServiceManager.Product.Edit(product);

                if (succes)
                {
                    await LoadData();
                    ToastService.ShowCommunicationToast(new ToastParameters<CommunicationToastContent>()
                    {
                        Intent = ToastIntent.Success,
                        Title = "Exito",
                        Timeout = 5000,
                        Content = new CommunicationToastContent()
                        {
                            Subtitle = $"El producto: {product.Name}",
                            Details = $"Fue {(action == "Crear" ? "creado" : "editado")} exitosamente.",
                        },
                    });
                }
                else
                {
                    ToastService.ShowCommunicationToast(new ToastParameters<CommunicationToastContent>()
                    {
                        Intent = ToastIntent.Error,
                        Title = "Error",
                        Timeout = 5000,
                        Content = new CommunicationToastContent()
                        {
                            Subtitle = $"El producto {product.Name}",
                            Details = $"No pudo ser {(action == "Crear" ? "creado" : "editado")}.",
                        },
                    });
                }
            }
        }
        catch (Exception e)
        {
            Log.Error(e, $"Exception >>user: {AppState.UserProfile?.Username} >>data: {JsonSerializer.Serialize(product)}");
            var dialog = await DialogService.ShowErrorAsync("Ha ocurrido un error, contacte soporte técnico.", "Error", "Aceptar");
            await dialog.Result;
        }
    }
}